.App,
.App:focus {
  text-align: center;
  outline: 0px solid transparent;
}

.Wronganswer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  border: none;
  height: 250px;
}
.keyboard {
  display: flex;
  flex-direction: column;
  border: none;
  align-items: center;
}
