.CorrectBox{
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
width: 100%;
padding: 1rem 0;
}
.inputAnswer{
    font-size: 2rem;
    width: 50px;
    height: 55px;
    border: none;
    background-color: #ffffff00;
    border-bottom: 5px solid rgb(0, 0, 0);
    margin: 10px 5px;
    align-items: center;
    color: rgb(0, 0, 0);
}
.inputAnswer:focus {

    outline:none;
}
@media(max-width:768px) {
    .inputAnswer{
        font-size: 1.5rem;
        width: 40px;
        height: 45px;
        border: none;
        background-color: #ffffff;
        border-bottom: 3px solid black;
        margin: 10px 5px;
    }

}
.display-none{
    opacity: 0%;
}
.display{
    opacity: 100%;

}